.dice{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:1em;
}

.dice-btn{
    display:flex;
    gap:1em;
}

#dice-imgs{
    display: flex;
    gap:16px;
    flex-wrap: wrap;

}

#dice-imgs>img{
    height:128px;
    width:128px;
}

.roll-dice__go{
    padding: 16px 32px;
    text-decoration:none;
    font-size:2em;
    text-align:center;
    border:none;
    border-radius:16px;
    transition: 0.2s;
    background-color: rgb(85, 187, 255);
    box-shadow: 5px 5px 5px gray;
}

.roll-dice__go:hover{
    background-color: rgb(133, 204, 252);
    transform:scale(1.1);
}

.roll-dice__go:active{
    background-color: rgb(41, 116, 167);
    transform:scale(1);
}

.dice-btn > button{
   padding: 16px 32px;
   font-size:2em;
   text-decoration:none;
   text-align: center;
   border: none;
   color:rgb(0, 0, 0);
   border-radius:16px;
   box-shadow: 5px 5px 5px gray;
   transition:0.2s;
}

.dice-btn__add{
    background-color:rgb(38, 214, 141);
}

.dice-btn__add:hover{
    background-color:rgb(92, 233, 174);
    transform:scale(1.1);
}

.dice-btn__add:active{
    background-color:rgb(24, 170, 109);
    transform:scale(1);
}

.dice-btn__remove{
    background-color:rgb(255, 98, 98);
}

.dice-btn__remove:hover{
    background-color:rgb(252, 118, 118);
    transform:scale(1.1);
}

.dice-btn__remove:active{
    background-color:rgb(197, 66, 66);
    transform:scale(1);
}