.dice{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:1em;
}

.dice-btn{
    display:flex;
    gap:1em;
}

#dice-imgs{
    display: flex;
    gap:16px;
    flex-wrap: wrap;

}

#dice-imgs>img{
    height:128px;
    width:128px;
}

.roll-dice__go{
    text-decoration:none;
    border:none;
    padding:16px 32px;
    font-size:1.5em;
    background-color:rgb(80, 255, 203);
    border-radius:16px;
    box-shadow: 5px 5px 5px gray;
    transition:0.2s;
    margin-bottom:1em;
}

.roll-dice__go:hover{
    background-color:rgb(125, 250, 212);
    transform:scale(1.1);
}

.roll-dice__go:active{
    background-color:rgb(32, 194, 145);
    transform:scale(1);
}

.dice-btn > button{
   padding: 16px 32px;
   font-size:2em;
   text-decoration:none;
   text-align: center;
   border: none;
   color:rgb(0, 0, 0);
   border-radius:16px;
   box-shadow: 5px 5px 5px gray;
   transition:0.2s;
}

.dice-btn__add{
    background-color:rgb(78, 154, 240);
    width:128px;
}

.dice-btn__add:hover{
    background-color:rgb(126, 181, 243);
    transform:scale(1.1);
}

.dice-btn__add:active{
    background-color:rgb(29, 99, 165);
    transform:scale(1);
}

.dice-btn__remove{
    background-color:rgb(255, 98, 98);
    width:128px;
}

.dice-btn__remove:hover{
    background-color:rgb(252, 118, 118);
    transform:scale(1.1);
}

.dice-btn__remove:active{
    background-color:rgb(197, 66, 66);
    transform:scale(1);
}