.home{
    display:grid;
    grid-gap: 1em;
    max-width:1200px;
    margin: 0 auto;
    padding-bottom:2em;
}

@media (min-width:600px){
    .home{grid-template-columns: repeat(2,1fr);}
}

@media (min-width:900px){
    .home{grid-template-columns: repeat(3,1fr);}
}

.home__div{
    background-color:rgb(255, 247, 231);
    border-radius:1em;
    padding:1.5em;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    transition:0.3s;
    box-shadow:10px 5px 10px rgb(179, 179, 179);
}

.home__div:hover{
    
}

.home__div:hover>img{
    transition:0.3s;
    transform:scale(1.1);
}

img{
    height:256px;
    width:256px;
}

