
.header{
    display:flex;
    justify-content:space-around;
    align-items:center;
    gap:0.5em;
    background-color:rgb(126, 176, 250);
    width:100%;
    box-shadow: 5px 3px 10px rgb(62, 90, 131);
    padding:1em;
}

@media (min-width:600px){
    #home-btn{font-size:1.5em;}
    .nav-btn{font-size:1em;}

}

@media (min-width:900px){
    #home-btn{font-size:2em;}
    .nav-btn{font-size:1.25em;}
}

#home-btn{
    text-decoration: none;
    color:black;
    font-size:2em;
    font-style:bold;
    transition:0.2s;
}

#home-btn:hover{
    color:white;
    transform:scale(1.1);
}

.nav-btn{
    text-decoration:none;
    color:black;
    transition:0.2s;
    font-size:1.25em;
}

.nav-btn:hover {
    color: white;
    transform:scale(1.1);
}

#nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    gap:1em;
}


