
.passwords{
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items:center;
    gap:16px;

}

.passwords__btn{
    text-decoration:none;
    border:none;
    padding:16px 32px;
    font-size:1.5em;
    background-color:rgb(80, 255, 203);
    border-radius:16px;
    box-shadow: 5px 5px 5px gray;
    transition:0.2s;
    margin-bottom:1em;
}

.passwords__btn:hover{
    background-color:rgb(125, 250, 212);
    transform:scale(1.1);
}

.passwords__btn:active{
    background-color:rgb(32, 194, 145);
    transform:scale(1);
}

.passwords > label {
    font-size:1.5em;
    text-align:center;
}

.slider-container{
    width:30vw;;
}

/* The slider itself */
.slider-container__password {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius:16px;
  }
  
  /* Mouse-over effects */
  .slider-container__password:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider-container__password::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius:16px;
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider-container__password::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }