main{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-between;
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
  background-color:rgb(235, 235, 235);
}
